@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your library on internet</h1>
</div>

<div style="text-align:center; padding-top:5%; ">
    <a href="/Members" class="btn btn-primary btn-lg">Members</a>
    <a href="/Books" class="btn btn-primary btn-lg" style="margin-left: 10px">Books</a>
    <a href="/Movies" class="btn btn-primary btn-lg" style="margin-left: 10px">Movies</a>
    <a href="/Loans" class="btn btn-primary btn-lg" style="margin-left: 10px">Loans</a>
</div>
